#filterButton{
    background-color: #38B6FF;
    border: 1px solid;
    border-radius: 15px;
    color: white;
    width: 100px;
    margin: 10px;
    padding: 10px;
  }

  #filterButton:hover{
    background-color: #0078be;
  }

  #filtroNomeInput{
    padding: 10px;
    border: 1px solid #0069a7;
    border-radius: 20px;
    margin: 5px
  }